# This is Git's per-user configuration file.
[core]
    editor = nvim
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[alias]
    vd = difftool
    vm = mergetool
    co = checkout
    ci = commit
    st = status
    br = branch
    su = submodule update --init --recursive
    ps = pull --recurse-submodules
    fs = fetch --recurse-submodules
    ds = diff --staged
    wsf = !"\
    if (! git diff-files --quiet .) && \
       (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git add -u :/ && \
        git commit -m FIXWS_SAVE_TREE && \
        git rebase --whitespace=fix HEAD~2 && \
        git reset HEAD~ && \
        git reset --soft HEAD~ ; \
    elif (! git diff-files --quiet .) ; then \
        git add -u :/ && \
        git commit -m FIXWS_SAVE_TREE && \
        git rebase --whitespace=fix HEAD~ && \
        git reset HEAD~ ; \
    elif (! git diff-index --quiet --cached HEAD) ; then \
        git commit -m FIXWS_SAVE_INDEX && \
        git rebase --whitespace=fix HEAD~ && \
        git reset --soft HEAD~ ; \
    fi"
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
    trustExitCode = true
    keepBackup = false
[mergetool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[tig]
    show-changes = true
[tig "color"]
    cursor = red black bold
[tig "bind"]
    generic = P parent
[git-p4]
    skipSubmitEdit = true
